.test-case-config-form {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 32px 12px;
  .form-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 8px;
    margin-bottom: 33px;
    border-bottom: solid 1px;
    > h2 {
      font-size: 24px;
    }
    > p {
      font-size: 14px;
      font-weight: 300;
      font-family: "Rubik", sans-serif;
      > span {
        color: #d92f2f;
        margin-right: 3px;
      }
    }
  }
  .helper-info-text {
    padding-bottom: 20px;
    font-size: 14px;
  }
  .form-elements {
    display: flex;
    flex-direction: row;
    .input-field {
      width: 25%;
    }
    .radio-button-group {
      > div {
        > div {
          > label {
            text-transform: none;
            font-family: Rubik, sans-serif;
            color: #333;
          }
        }
      }
    }
    .select {
      width: 300px;
    }
  }
  .form-actions {
    display: flex;
    justify-content: flex-end;
    .cancel-button {
      margin-top: 20px;
      margin-right: 32px;
    }
    .save-button {
      margin-top: 20px;
      float: right;
    }
  }

  #message > .test-case-list-container > ul {
    list-style: inside;
    margin-left: 1rem;
  }
}
