.birth-date {
  display: flex;
  max-width: 250px;
}

.demographics-container {
  display: grid;
  grid-row-gap: 24px;
  .demographics-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    column-gap: 32px;
  }
}
