$grey-19: #ddd;

.data-elements-card {
  border: solid 1px #8c8c8c;
  margin-top: 16px;
  padding: 16px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  > .heading-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    > .text-container {
      line-height: 18px;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      > .title {
        white-space: pre;
        color: #125496;
        font-weight: 500;
      }
      > .sub-text {
        white-space: pre;
        font-weight: 300;
        color: #333;
      }
    }
  }
  > .timing > h4,
  > .codes > h4 {
    font-size: 18px;
    font-weight: 500;
    color: #125496;
  }
  > .timing {
    margin-top: 40px;
    margin-bottom: 16px;
  }
  > .codes {
    margin-top: 40px;
    margin-bottom: 25px;
  }
}
