.data-types {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: inherit;
  overflow-x: auto;
  > div {
    > .data-types-button {
      border: 1px solid #8c8c8c;
      width: 224px;
      display: flex;
      margin-top: 16px;
      text-align: left;
      padding: 8px 40px 8px 16px; //excess padding for Absolute icon
      min-height: 53px;
      position: relative;
      align-items: flex-start;
      > div {
        > .text-container {
          max-width: 200px;
        }
      }
      .data-types-icon {
        color: #0073c8;
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
  }
}
