#status-handler {
  margin-right: 2rem;
  margin-left: 2rem;
}
.madie-alert {
  margin-bottom: 16px;
  > #content {
    max-height: 125px;
    overflow: auto;
    width: 100%;
    padding: 2px;
    > div > h3 {
      line-height: normal;
    }
    .secondary {
      margin-bottom: 5px;
      ~ ul,
      ~ ol {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    > ul,
    > ol {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 40px;
      > li {
        line-height: 1.2;
      }
    }
    > ul {
      list-style-position: inside;
      list-style: disc !important;
      > li::marker {
        font-size: 2px;
      }
    }
  }
}

#status-handler {
  ul {
    list-style: disc !important;
    list-style-position: inside !important;
    > li::marker {
      font-size: 1rem;
    }
  }
}
