.madie-alert {
  margin-bottom: 10px;
  > #content {
    max-height: 125px;
    overflow: auto;
    width: 100%;
    padding: 2px;
    .secondary {
      margin-bottom: 5px;
      ~ ul,
      ~ ol {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    > ul,
    > ol {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 40px;
      > li {
        line-height: 1.2;
      }
    }
    > ul {
      list-style-position: inside;
      list-style: disc;
    }
  }
}
