#sde-form {
  margin: 8px;
  > .content {
    > .subTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 32px 16px 32px 0px;
      border-bottom: solid 1px #8c8c8c;
      > h2 {
        font-weight: 400;
        font-size: 24px;
      }
    }
    > .sde-page {
      > div {
        > div {
          > label {
            text-transform: none;
            font-family: Rubik, sans-serif;
            color: #333;
          }
        }
      }
    }
  }
}
