.datatypes {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: inherit;
  .data-types-button {
    width: 224px;
    margin-top: 16px;
    text-align: left;
    padding: 8px, 16px, 8px, 16px;
    min-height: 53px;
    position: relative;
    align-items: flex-start;
    .data-types-icon {
      color: #0073c8;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
