$grey-19: #dddddd;

#elements-section {
  display: flex;
  flex-direction: column;
  position: relative;
  > div:first-of-type {
    border-bottom: solid 1px #8c8c8c;
  }
  .madie-icon {
    &.cyan {
      fill: rgb(32, 159, 166);
    }
  }
}
