$grey-19: #dddddd;

#elements-section {
  display: flex;
  flex-direction: column;
  > div:first-of-type {
    border-bottom: solid 1px $grey-19;
  }
  .tabs-container {
    border-bottom: solid 1px $grey-19;
  }
  .madie-icon {
    &.cyan {
      fill: rgb(32, 159, 166);
    }
  }
}
